<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	    <section class="layout-content" layout:fragment = "corpo">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="fas fa-caret-right"></i>
	                        <span>Cadastrar Departamentos</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" th:href="@{/departamentos/listar}" role="button">
	                    <span class="fas fa-list" title="Listar" aria-hidden="true"></span>
	                    <span>Listar Departamentos</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container" id="cadastro">
	        
	        	<div th:replace = "fragments/alert"></div>
	        	
				<!-- O th:action, juntamente com a expressão que contém "@{URL}", fornece o contexto da aplicação -->
				<!-- No th:object, a expressão declarada diz respeito a variável no contexto da aplicação -->
				<!-- Observe que há uma operação ternária para identificar se está inserindo um novo registro ou editando um registro. No caso de edição, o método preEditar enviou um objeto com id -->
	            <form th:action="${departamento.id == null} ? @{/departamentos/salvar} : @{/departamentos/editar}" th:object="${departamento}" method="POST">
	            
	            	<!-- é importante que esse fragmento fique dentro da tag form. Se colocar esse fragmento fora do form, as mensagens não serão exibidas na tela -->
	            	<div th:replace = "fragments/validacao :: validacao"></div>
	            
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="nome">Departamento</label>
	                        <!-- O th:field="*{nome}" referencia o nome do departamento que a gente tá salvando -->
	                        <input type="text" class="form-control" id="nome"
	                               placeholder="Nome Departamento" autofocus="autofocus" th:field="*{nome}"/>
	                    </div>
	                </div>
	                <!-- nesse caso, o id é enviado como hidden para que, ao enviar o objeto departamento como  objeto do request, o id deve ir junto, mas não deve ser mostrado para o usuário -->
	                <!-- como o id não é informado no formulário a ser enviado, esse id é enviado a partir do input hidden -->
	                <input type="hidden" id="id" th:field="*{id}"/>
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
	    </section>
</body>
</html>