<!DOCTYPE html>
<!-- namespaces adicionados são referentes ao Thymeleaf -->
<!-- o xmls:layout possibilita o uso de layout:fragment e layout:decorate -->
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
				xmls:th="http://www.thymeleaf.org"
				xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Cadastros</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<!-- caso precise adicionar uma figura na aba da página, utilize este comando -->
	<!-- vale ressaltar que deve-se adicionar a pasta image dentro de static -->
	<!-- <link rel="icon" href="/image/nome_da_figura.extensão"/> -->

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
	
	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
	<header th:replace = "fragments/header :: cabecalho">
		<div>header</div>
	</header>

	<div class="layout-main">
		<aside>
			<nav th:replace = "fragments/sidebar :: nav-sidebar">
				<span>menu</span>
			</nav>
		</aside>
		
		<section layout:fragment = "corpo">
			<div>conteúdo principal das páginas</div>
		</section>
		
	</div>
	
	<!-- adição do fragmento. Colocou-se o diretorio e o nome da página html e o nome do fragmento  -->
	<footer th:replace="fragments/footer :: rodape">
		<div>footer</div>
	</footer>
</body>
</html>