<!DOCTYPE html>
<!-- namespaces adicionados são referentes ao Thymeleaf -->
<!-- o xmls:layout possibilita o uso de layout:fragment e layout:decorate -->
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
				xmls:th="http://www.thymeleaf.org"
				xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Cadastros</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<!-- caso precise adicionar uma figura na aba da página, utilize este comando -->
	<!-- vale ressaltar que deve-se adicionar a pasta image dentro de static -->
	<!-- <link rel="icon" href="/image/nome_da_figura.extensão"/> -->

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
	
	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
	<header th:replace = "fragments/header :: cabecalho">
		<div>header</div>
	</header>

	<div class="layout-main">
		<aside>
			<nav th:replace = "fragments/sidebar :: nav-sidebar">
				<span>menu</span>
			</nav>
		</aside>
		
		<section layout:fragment = "corpo">
			<div>conteúdo principal das páginas</div>
		</section>
		
	</div>
	
	<!-- adição do fragmento. Colocou-se o diretorio e o nome da página html e o nome do fragmento  -->
	<footer th:replace="fragments/footer :: rodape">
		<div>footer</div>
	</footer>

	<!-- para utilizar os recursos de qualquer plugin do JQuery (JQuery Mask, nesse caso), é necessário importar também o JQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
	<!-- Obs.: o popper.min.js deve ser colocado antes de bootstrap.js para funcionar -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	
	
	<script type="text/javascript">

		<!-- os 2 métodos javascript a seguir são necessários para o modal -->
		var url = '';
		<!-- este método é para recuperar a URL que temos na tag button -->
		<!-- 'button[id*="btn_"]' significa que caso o componente clicado tenha btn_ como valor inicial do id, cairemos nessa função -->
		$('button[id*="btn_"]').click(function() {
			<!-- $(this) faz com que o jquery utilize os valores que temos no componente utilizado nessa operação, ou seja, o button -->
			<!-- ele dividiu a URL com o _, que fica depois do btn e pegou somente e posição 1, que é referente a URL -->
			url = "/" + $(this).attr('id').split("_")[1];
		});
		
		<!-- este método é para enviar a solicitação -->
		<!-- ao clicar no botão de ok, a ação cai nessa função -->
		$('#ok_confirm').click(function(){
			<!-- document.location.href vai fazer a solicitação para a página a partir da URL que estamos atribuindo a ela -->
			document.location.href = url;
		});
		
		<!-- função que habilita o uso de popovers em qualquer lugar -->
		$(function() {
			$('[data-toggle="popover"]').popover();
		});
		
		$(document).ready(function(){
		    $(".navbar-toggle").click(function(){
		        $(".sidebar").toggleClass("sidebar-open");
		    })
		});
		
	</script>
</body>
</html>